<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot and Spring MVC</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>

    <link href="../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <div th:if="${not#lists.isEmpty(customers)}">
        <h2>Lista użytkowników</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Email</th>
                <th>Numer telefonu</th>
                <th>Uprawnienia</th>
                <th>Aktywność</th>
            </tr>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.id}">1</td>
                <td th:text="${customer.firstName}">Jacek</td>
                <td th:text="${customer.lastName}">Kurski</td>
                <td th:text="${customer.email}">kurski@tvp.pl</td>
                <td th:text="${customer.phoneNumber}">666-666-666</td>
                <td th:text="${customer.role}">ADMIN</td>
                <td th:text="${customer.active}">TRUE</td>
                <td>
                    <a th:href="${'/customer/' + customer.id}">Pokaż</a> <br/>
                    <a th:href="${'/customer/edit/' + customer.id}">Zmień</a> <br/>
                    <a th:href="${'/customer/delete/' + customer.id}">Usuń</a>
                </td>
            </tr>
        </table>
        <div>
            <a th:href="${'/customer/new'}">Nowy użytkownik</a><br/>
            <a th:href="${'/customer/panel'}">Wróć</a>
        </div>
    </div>
</div>
<div th:if="${#lists.isEmpty(customers)}">
    <h2>Lista użytkowników</h2>
    <h3>Nikt nie jest zapisany</h3>
    <div>
        <a th:href="${'/customer/new'}">Nowy użytkownik</a><br/>
        <a th:href="${'/customer/panel'}">Wróć</a>
    </div>
</div>
</body>
</html>