<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panel logowania</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>

    <link href="../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <h2>Login</h2>
    <form name='f' th:action="@{/login-process}" method='POST'>
        <table>
            <tr>
                <td>Email użytkownika:</td>
                <td><input type="username" name="username" id="username"></td>
            </tr>
            <tr>
                <td>Hasło:</td>
                <td><input type='password' name='password' id="password"/></td>
            </tr>
            <tr>
                <td><input type="submit" name="submit"/><br/></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>